canvas{
    background-color: black;
    border: 3px solid black;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background-image: url('img/bodybg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}