canvas {
    background-color: black;
    border: 3px solid black;
    display: block;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    background-image: url('img/bodybg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Honk', sans-serif;
    margin: 0;
}

h1 {
    font-size: 72px;
    margin-block-end: 0;
    margin-block-start: 0;
    font-variant: small-caps;
    letter-spacing: 2px;
}
.startScreen-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.startScreen{
    width: 720px;
    height: 480px;
    position: relative;
}
.startButton{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #f1c40f;
    color: black;
    font-size: 24px;
    padding: 10px 20px;
    border: 2px solid #332b0b;
    border-radius: 5px;
    cursor: pointer;
}
.startButton:hover{
    background-color: #f39c12;
}
.startButton:focus{
    outline: none;
}
.startButton:active{
    background-color: #85560a;
}
.d-none{
    display: none;
}
.tutorial{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 720px;
    font-size: 24px;
}
.tutorial-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* honk-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Honk';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/honk-v1-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* MEDIA QUERIES */
/* SMARTPHONES */
@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
    }
    body{
        justify-content: unset;
    }
    .startScreen{
        width: 100%;
        height: 100%;
    }
    .tutorial{
        width: 100%;
    }
}
@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
        border: none;
    }
    h1{
        display: none;
    }
    body{
        justify-content: unset;
    }
}